body{
  background-color:rgba(30, 55, 220, 0.86)
}
.video{
  position: absolute;
}

.text{
  color: #fff;
  position: fixed;
  width: 100%
}
@media  only screen and (max-width: 800px){
  .video{
    background-size: cover;
  }
}